<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

    <link rel="stylesheet" href="/css/ticket_editor.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <%- include('partials/navbar') %>

    <div class="container">
        <p class="route"><a href="/">Home</a> / <a href="/tickets">Tickets</a> / <a href="/tickets/open-ticket/<%- ticket.id %>"><%- ticket.title %></a></p>
        <div class="content-head">
            <h1 id="tickets-title">Configuring: <%- ticket.title %></h1>
        </div>

        <p>Last edited by </p>

        <form method="post" action="/update-status/<%- ticket.id %>" class="form-container">
            <div class="divider">
                <label for="title" class="label">Title</label>
                <input type="text" id="title" name="title" placeholder="Enter the ticket title" value="<%- ticket.title %>">
            </div>

            <div class="divider">
                <label for="description" class="label">Description</label>
                <textarea id="description" name="description" rows="2" placeholder="Enter the ticket description"><%- ticket.description %></textarea>
            </div>

            <div class="divider">
                <label for="description" class="label">Status</label>
                <div class="dropdown">
                    <button type="button" class="dropdown-button" id="status-button" data-current-status="<%- ticket.status %>">
                        <%- ticket.status !== "Open" || "Pending" || "Closed" ? "Select status" : ticket.status %>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item" style="color: rgb(68, 196, 68)" data-value="Open">Open</li>
                        <li class="dropdown-item" style="color: rgb(204, 152, 74)" data-value="Pending">Pending</li>
                        <li class="dropdown-item" style="color: rgb(190, 66, 66)" data-value="Closed">Closed</li>
                    </ul>
                </div>
            </div>

            <div class="divider">
                <label for="active" class="label">Active</label>
                <input type="checkbox" checked id="active" name="active"></input>
            </div>
            
            <div class="btn-group">
                <button type="submit" id="save">Save Changes</button>
                <button type="button" id="delete">Delete</button>
                <button type="button" id="cancel">Cancel</button>
            </div>
        </form>
        
    </div>
</body>
</html>