<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

    <link rel="stylesheet" href="/css/ticket_editor.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <%- include('partials/navbar') %>


    <div class="container">
        <p class="route"><a href="/">Home</a> / <a href="/tickets">Tickets</a> / <a href="/tickets/open-ticket/<%- ticket.id %>"><%- ticket.title %></a></p>
        <div class="content-head">
            <h1 id="tickets-title">Configuring: <%- ticket.title %></h1>
        </div>

        <input id="ticketid" type="hidden" value="<%- ticket.id %>">

        <p>Created by <%- ticket.createdBy %> at <%- (ticket.date).toUTCString() %></p>
        <p>Last updated by <%- ticket.createdBy %> at <%- (ticket.lastUpdated).toUTCString() %></p>

        <form class="form-container">
            <div class="divider">
                <label for="title" class="label">Title</label>
                <input type="text" id="title" name="title" placeholder="Enter the ticket title" value="<%- ticket.title %>">
            </div>

            <div class="divider">
                <label for="description" class="label">Description</label>
                <textarea id="description" name="description" rows="2" placeholder="Enter the ticket description"><%- ticket.description %></textarea>
            </div>

            <div class="divider">
                <label for="description" class="label">Status</label>
                <div class="dropdown">
                    <button type="button" class="dropdown-button" id="status-button" data-current-status="<%- ticket.status %>">
                        <%- (ticket.status === "Open" || ticket.status === "Pending" || ticket.status === "Closed") ? ticket.status : "Select a" %>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item" style="color: rgb(68, 196, 68)" value="Open">Open</li>
                        <li class="dropdown-item" style="color: rgb(204, 152, 74)" value="Pending">Pending</li>
                        <li class="dropdown-item" style="color: rgb(190, 66, 66)" value="Closed">Closed</li>
                    </ul>
                </div>
            </div>

            <div class="divider">
                <label for="active" class="label">Active</label>
                <% if (ticket.active) { %>
                    <input type="checkbox" id="active" name="active" checked>
                <% } else { %>
                    <input type="checkbox" id="active" name="active">
                <% } %>
                
                
            </div>
            
            <div class="btn-group">
                <button type="submit" id="save">Save Changes</button>
                <button type="button" id="delete">Delete</button>
                <button type="button" id="cancel">Cancel</button>
            </div>
        </form>
        
    </div>

    <script src="/js/ticket_editor_client.js"></script>
</body>
</html>