<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

    <link rel="stylesheet" href="/css/ticket_editor.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <%- include('partials/navbar') %>

    <div class="container">
        <p class="route"><a href="/">Home</a> / <a href="/tickets">Tickets</a> / <a href="/tickets/open-ticket/<%- ticket.id %>"><%- ticket.title %></a></p>
        <div class="content-head">
            <h1 id="tickets-title">Configuring: <%- ticket.title %></h1>
        </div>

        <p>Last edited by </p>

        <form method="post" action="" class="form-container">
            <div class="divider">
                <label for="title" class="label">Title</label>
                <input type="text" id="title" name="title" placeholder="Enter the ticket title" value="<%- ticket.title %>">
            </div>

            <div class="divider">
                <label for="description" class="label">Description</label>
                <textarea id="description" name="description" rows="2" placeholder="Enter the ticket description"><%- ticket.description %></textarea>
            </div>

            <div class="divider">
                <label for="description" class="label">Status</label>
                <textarea id="description" name="description" rows="2" placeholder="Enter the ticket description"></textarea>
            </div>

            <div class="divider">
                <label for="active" class="label">Active</label>
                <input type="checkbox" checked id="active" name="active"></input>
            </div>
            
            <div class="btn-group">
                <button type="submit" id="save">Save Changes</button>
                <button id="cancel">Cancel</button>
            </div>
        </form>
        
    </div>
</body>
</html>